In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
from pypfopt.hierarchical_risk_parity import HRPOpt
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [3]:
tickers = ['PG', 'MSFT', 'F', 'GE', 'AAPL','JPM', 'CSCO']
df = pd.DataFrame()
for t in tickers:
    df[t] = wb.DataReader(t, data_source='yahoo', start='2000-1-1')['Adj Close']
    
df.head()

,PG,MSFT,F,GE,AAPL,JPM,CSCO
Date,,,,,,,
1999-12-31,29.575182,37.683807,15.649628,27.181803,3.204494,28.782553,41.768326
2000-01-03,28.934061,37.623280,15.374426,26.347469,3.488905,26.999557,42.133854
2000-01-04,28.377323,36.352352,14.860723,25.293573,3.194754,26.407143,39.770073
2000-01-05,27.837446,36.735657,14.915769,25.249657,3.241507,26.244143,39.648232
2000-01-06,29.119656,35.505081,14.934105,25.587238,2.960991,26.616730,38.990265

In [4]:
returns = df.pct_change().dropna(how = "all")
S = risk_models.sample_cov(df)
(returns.head())

,PG,MSFT,F,GE,AAPL,JPM,CSCO
Date,,,,,,,
2000-01-03,-0.021678,-0.001606,-0.017585,-0.030695,0.088754,-0.061947,0.008751
2000-01-04,-0.019242,-0.033780,-0.033413,-0.040000,-0.084310,-0.021942,-0.056102
2000-01-05,-0.019025,0.010544,0.003704,-0.001736,0.014634,-0.006173,-0.003064
2000-01-06,0.046061,-0.033498,0.001229,0.013370,-0.086539,0.014197,-0.016595
2000-01-07,0.079953,0.013068,0.073710,0.038722,0.047368,0.018373,0.058750

In [5]:
hrp = HRPOpt(returns)
weights = hrp.hrp_portfolio()

In [6]:
print(weights)

{'AAPL': 0.07421110496377352, 'CSCO': 0.07136027574692291, 'F': 0.079083034610729, 'GE': 0.13836117962131061, 'JPM': 0.08135661390223477, 'MSFT': 0.11608139804285669, 'PG': 0.43954639311217253}

In [7]:
type(weights)

dict

AttributeError: 'HRPOpt' object has no attribute 'portfolio_performance'